body{
    font-family: Arial, sans-serif;
  }
  .calculator {
    position:relative;
    top: 30px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:rgb(217, 247, 255);
  }
  input[type="text"], input[type="button"] {
    width: 100%;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
  }
  .display {
    height: 90px;
    max-width: 255px;
    font-size: 10px;
    text-align: right;
    margin-bottom: 30px;
    border:2px solid #ccc;
    background-color:rgb(181, 233, 233);
    border-radius: 10px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  .row > input {
    border:2px solid #ccc;
    border-radius: 10px;
    background-color:rgb(165, 217, 235);
  }
